langgraph
langchain
langsmith
langchain-anthropic
python-dotenv
langchain-community
langchain-tavily
mcp
ipykernel
crawl4ai
langchain-mcp-adapters
langchain-chroma
pypdf
langchain-openai
langchain-huggingface
sentence-transformers
markdown-pdf
requests
rich
typer